@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  /* 100% of the viewport height and width */
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

/* tells the browser how the bar will look */
::-webkit-scrollbar {
  width: 10px;
}

/* tells the browser how will the path of the handle will look like */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* tells the browser how the scrollable handle would look like */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* tells the browser how the scrollable handle on hover would look like */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
